<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <% if name.to_s == 'notice' %>
      <div class='alert fade-alert alert-success  notice_flash pull-right'>
        <div id="flash_#{name}">
          <%= msg.html_safe %>
        </div>
      </div>
    <% elsif name.to_s == 'alert' %>
      <div class='alert fade-alert alert-danger  alert_flash pull-right'>
        <div id="flash_#{name}">
          <%= msg.html_safe %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>